html, body {
    padding: 0;
    margin: 0;
}

.calculator-input {
    display: flex;
    gap: 10px;
}

.calculator-input #input-container {
    flex: 1;
    display: flex;
}

#input-value {
    flex: 1;
}

.last-value {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.results-list {
    list-style: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.results-list > li {
    padding: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

button {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    min-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.results-container {
    margin-top: 20px;
}

.database-save-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
