.form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.position-edit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    min-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
